#root{
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
}
*{
    background-color: bisque;
}
.card{
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: 2px;
}

.card-image{
    height: 100px;
    width: 100px;
}