#root{
    display: flex;
    flex-wrap: wrap;

}
.card {
  align-items: center;
  background-color: cyan;
  display: flex;
  flex-direction: column;
  width: 15%;
  margin: 2px;
  border-radius: 25px;
}

.card-image {
  height: 50px;
  width: 50px;
}

.card > img {
  width: 160px;
  height: 200px;
}

.d-flex{
  margin-left: 40%;
}